.goBack {
  padding: 5px 10px;
  margin-left: 7px;
  border-radius: 10px;
  background-color: #ffff;
  border: 1px solid;
  text-decoration: none;
}

.title {
  font-size: x-large;
  padding-left: 10px;
}

.navText {
  font-size: x-large;
}

.ul {
  padding-left: 10px;
  list-style: none;
}
